body {
    background-image: url("./public/images/joshua-j-cotten-btgICo2Heyg-unsplash.jpg");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#about-me-content {
    background-color: #E2B3A3;
    color: #211D2E;
    margin: auto;
    position: absolute;
    right: 20%;
    left:15%;
    justify-content: center;
    border-radius: 15%;
    border-width: thick; 
    border-color: #211D2E;
    border-style: solid;
    align-items: flex-start;
}
section, h1{
    font-family: 'Courier New', Courier, monospace;
    width: 70%;
    align-self: center;
    position:relative;
    left: 10%;
}
img {
    border-radius: 20%;
    height: 33%;
    width: 33%;
    border-width: thick; 
    border-color: #211D2E;
    border-style: solid;
}
/* #blurb {
    justify-content: center;
} */
/* #blurb-content{
    text-align: center;
} */
/* #hobbies {

}
#hobbies-list {

}
#article {

} */

