body {
    background-image: url("./public/images/joshua-j-cotten-btgICo2Heyg-unsplash.jpg");
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    

}
#about-me-content {
    background-color: #E2B3A3;
    color: #211D2E;
    margin: auto;
    position: absolute;
    right: 20%;
    left:15%;
    justify-content: center;
    border-radius: 15%;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}
section{
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    align-self: center;
    position:relative;
}
img {
    border-radius: 20%;
    height: 30%;
    width: 30%;
}
/* #blurb {
    justify-content: center;
} */
/* #blurb-content{
    text-align: center;
} */
/* #hobbies {

}
#hobbies-list {

}
#article {

} */

