body {
    background-color: skyblue;
    /* background-image: url("./public/images/joshua-j-cotten-btgICo2Heyg-unsplash.jpg"); */
    background-size: 100%;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
img {
    height: 20%;
    width: 20%;
}
.blurb {
    justify-content: center;
}
.blurb-content{
    text-align: center;
}
/* .hobbies {

}
.hobbies-list {

}
.article {

} */

